/**
 * Accordion
 */

.ui-accordion {
	.ui-accordion-header {
		padding: @ui-small 0;
		box-sizing: border-box;
	}

	.ui-accordion-toggle {
		text-transform: capitalize;
		cursor: pointer;

		span {
			vertical-align: top;
			color: @ui-color-blue;
		}

		&.button-toggle {
			span {
				line-height: 1.5em;
				color: @ui-color-white;
			}
		}

		.arrow {
			width: 1.25em;
			height: 1.25em;
			transform: rotate(180deg);
			transition: transform 0.5s ease;
			margin-left: 0.5em;

			&.arrow-down {
				transform: rotate(0deg);
				transition: transform 0.5s ease;
			}
		}
	}

	.ui-accordion-content-wrapper {
		box-sizing: border-box;
		overflow: hidden;
		transition-property: height;
		height: 0;
	}
}
