/**
 * Text
 */

// general variables


.caption {
	display: block;
	color: var(--ui-color-gray-medium);
	text-transform: uppercase;
	font-size: 0.8em;
}

.title {
	display: block;
	font-size: 2em;
	margin-bottom: 0em;
	line-height: 1em;
}

.subtitle {
	display: block;
	font-size: 1em;
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.05em;
    font-weight: 600;
}

h1.ui-text {
	font-size: 2.2em;
	font-weight: 900;
}

h2.ui-text {
	font-size: 2em;
	font-weight: 800;
}

h3.ui-text {
	font-size: 1.8em;
	font-weight: 700;
}

h4.ui-text {
	font-size: 1.6em;
	font-weight: 600;
}

h5.ui-text {
	font-size: 1.3em;
	font-weight: 500;
}

h6.ui-text {
	font-size: 1.1em;
	font-weight: 400;
}
