.ui-button {
	display: inline-block;
	padding: var(--ui-button-padding, 1em);
	font-family: var(--ui-button-font-family, var(--ui-font-sans-serif, 'Helvetica', Arial, sans-serif));
	font-weight: var(--ui-button-font-weight, 600);
	font-size: var(--ui-button-font-size, var(--ui-font-x-small, 0.9em));
	text-transform: var(--ui-button-text-transform, uppercase);
	letter-spacing: var(--ui-button-letter-spacing, 0.5px);
	transition: var(--ui-button-transition, 150ms background-color, 150ms border-color, 150ms color);
	cursor: pointer;
	outline: none;
	border-radius: var(--ui-button-border-radius, 0px);
}
.ui-button.primary:not(.bare) {
	border: var(--ui-button-border, 1px solid transparent);
	background: var(--ui-button-color, var(--ui-color-gray-dark, #919191));
	border-color: var(--ui-button-border-color, var(--ui-button-color, var(--ui-color-gray-dark, #919191)));
	color: var(--ui-button-font-color, var(--ui-color-white, #ffffff));
}
.ui-button.primary:not(.bare):hover,
.ui-button.primary:not(.bare):focus,
.ui-button.primary:not(.bare):active {
	background: var(--ui-button-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	border-color: var(--ui-button-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	color: var(--ui-button-font-color, var(--ui-color-white, #ffffff));
}
.ui-button.primary:not(.bare):active {
	background: var(--ui-button-color-active, var(--ui-color-gray-darkest, #222222));
	border-color: var(--ui-button-color-active, var(--ui-color-gray-darkest, #222222));
}
.ui-button.primary:not(.bare).outline {
	background: var(--ui-button-outline-background, transparent);
	border-color: var(--ui-button-color, var(--ui-color-gray-dark, #919191));
	color: var(--ui-button-color, var(--ui-color-gray-dark, #919191));
}
.ui-button.primary:not(.bare).outline:hover,
.ui-button.primary:not(.bare).outline:focus,
.ui-button.primary:not(.bare).outline:active {
	border-color: var(--ui-button-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	color: var(--ui-button-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	background: var(--ui-button-outline-background-focus, transparent);
}
.ui-button.secondary:not(.bare) {
	border: var(--ui-button-secondary-border, 1px solid transparent);
	background: var(--ui-button-secondary-color, var(--ui-color-gray-dark, #919191));
	border-color: var(--ui-button-secondary-color, var(--ui-color-gray-dark, #919191));
}
.ui-button.secondary:not(.bare):hover,
.ui-button.secondary:not(.bare):focus,
.ui-button.secondary:not(.bare):active {
	background: var(--ui-button-secondary-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	border-color: var(--ui-button-secondary-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	color: var(--ui-button-secondary-font-color, var(--ui-color-white, #ffffff));
}
.ui-button.secondary:not(.bare):active {
	background: var(--ui-button-secondary-color-active, var(--ui-color-gray-darkest, #222222));
	border-color: var(--ui-button-secondary-color-active, var(--ui-color-gray-darkest, #222222));
}
.ui-button.secondary:not(.bare).outline {
	background: var(--ui-button-outline-secondary-background, transparent);
	border-color: var(--ui-button-secondary-color, var(--ui-color-gray-dark, #919191));
	color: var(--ui-button-secondary-color, var(--ui-color-gray-dark, #919191));
}
.ui-button.secondary:not(.bare).outline:hover,
.ui-button.secondary:not(.bare).outline:focus,
.ui-button.secondary:not(.bare).outline:active {
	border-color: var(--ui-button-secondary-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	color: var(--ui-button-secondary-color-focus, var(--ui-color-gray-darker, #3E3E3E));
	background: var(--ui-button-outline-secondary-background-focus, transparent);
}
.ui-button.tertiary:not(.bare) {
	color: var(--ui-button-tertiary-font-color, var(--ui-color-black, #000000));
	border: var(--ui-button-tertiary-border, 1px solid transparent);
	background: var(--ui-button-tertiary-color, var(--ui-color-yellow, Gold));
	border-color: var(--ui-button-tertiary-color, var(--ui-color-yellow, Gold));
}
.ui-button.tertiary:not(.bare):hover,
.ui-button.tertiary:not(.bare):focus,
.ui-button.tertiary:not(.bare):active {
	background: var(--ui-button-tertiary-color-focus, #e6c200);
	border-color: var(--ui-button-tertiary-color-focus, #e6c200);
}
.ui-button.tertiary:not(.bare):active {
	background: var(--ui-button-tertiary-color-active, #e6c200);
	border-color: var(--ui-button-tertiary-color-active, #e6c200);
}
.ui-button.tertiary:not(.bare).outline {
	background: var(--ui-button-outline-tertiary-background, transparent);
	border-color: var(--ui-button-tertiary-color, var(--ui-color-yellow, Gold));
	color: var(--ui-button-tertiary-color, var(--ui-color-yellow, Gold));
}
.ui-button.tertiary:not(.bare).outline:hover,
.ui-button.tertiary:not(.bare).outline:focus,
.ui-button.tertiary:not(.bare).outline:active {
	border-color: var(--ui-button-tertiary-color-focus, #e6c200);
	color: var(--ui-button-tertiary-color-focus, #e6c200);
	background: var(--ui-button-outline-tertiary-background-focus, transparent);
}
.ui-button.standard {
	color: var(--ui-button-font-color, var(--ui-color-white, #ffffff));
}
.ui-button.standard.secondary {
	color: var(--ui-button-secondary-font-color, var(--ui-color-white, #ffffff));
}
.ui-button.bare {
	padding: 0;
	border: none;
	background: none;
}
.ui-button.bare.primary {
	color: var(--ui-button-color, var(--ui-color-gray-dark, #919191));
}
.ui-button.bare.primary:hover,
.ui-button.bare.primary:focus,
.ui-button.bare.primary:active {
	color: var(--ui-button-color-focus, var(--ui-color-gray-darker, #3E3E3E));
}
.ui-button.bare.primary:active {
	color: var(--ui-button-color-active, var(--ui-color-gray-darkest, #222222));
}
.ui-button.bare.secondary {
	color: var(--ui-button-secondary-color, var(--ui-color-gray-dark, #919191));
}
.ui-button.bare.secondary:hover,
.ui-button.bare.secondary:focus,
.ui-button.bare.secondary:active {
	color: var(--ui-button-secondary-color-focus, var(--ui-color-gray-darker, #3E3E3E));
}
.ui-button.bare.secondary:active {
	color: var(--ui-button-secondary-color-active, var(--ui-color-gray-darkest, #222222));
}
.ui-button.bare.tertiary {
	color: var(--ui-button-tertiary-color, var(--ui-color-yellow, Gold));
}
.ui-button.bare.tertiary:hover,
.ui-button.bare.tertiary:focus,
.ui-button.bare.tertiary:active {
	color: var(--ui-button-tertiary-color-focus, #e6c200);
}
.ui-button.bare.tertiary:active {
	color: var(--ui-button-tertiary-color-active, #e6c200);
}
.ui-button.full {
	display: block;
	width: 100%;
}
.ui-button.mini {
	min-width: 7em;
	padding: var(--ui-x-small, 8px);
}
.ui-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.ui-button.loading {
	cursor: progress;
}
.ui-button.pill {
	border-radius: var(--ui-button-pill-border-radius, 2em);
}
